
/* ICON Alignment */




  .header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .left {
    flex: 1;
  }
  
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }
  
  .name {
    font-size: 48px;
    margin: 0;
  }
  

/* ================================================================= */



.lottieIcon {
    width: 450px;
    height: 450px;

    


}
.flex{
    display: flex;
    flex-wrap: nowrap;;
    
}

.header__container{
    padding-top: 10.35rem;
    padding-bottom: 10.35rem;
    height: 100%;
    position: relative;
    line-height: 1.1;
    height: 75vh;
}
h2{
    color: #8892af;
    font-family: var(--font-family-poppins);
}

h1{
    color: var(--color-white);
    font-family: var(--font-family-poppins);

}

.social__icons{
    font-size: 24px;
}



.name{
    font-size: 5em;
}

/* Download  */ 

.download{
    margin-top: 2.5rem;
    display: flex;
    gap: 0.5rem;
    padding-top: 1.25rem;
    padding-right: 1.75;
}

/* Download Mobile Screen */

@media only screen and (max-width: 600px) {
    .download{
        margin-top: 50px;
      /*  background-color: aqua; */
        height: auto;
        padding-top: 1.25rem;
        padding-right: 1.75;
    }
    .btn{
        font-size: 25px;
      /*  background-color: red; */
    }

  }

/* Socials */
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    top: 30rem;
    left: 2rem;
    position:fixed;
    bottom: 0.3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 35rem;
    background-color: var(--color-primary);
}

a:hover{
    color: white;
}

/* Social Icons Responsiveness */
@media only screen and (max-width: 600px) {
    .header__socials {
        visibility: hidden;
    }
    .header__container {
        padding: 50px 0;
        
      }
    
      .flex {
        flex-direction: column;
        justify-content: left;
      }
    
      .left,
      .right {
        flex: unset;
        width: 100%;
      }
    
      .name {
        font-size: 36px;
      }
    
      .lottieIcon {
        height: 300px;
        width: 350px;
      }
  }